.App {
  text-align: center;
}

.main {
  padding: 5mm;
}

.logo {
  animation: logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link {
  color: #b318f0;
}

@media page {
  body {
    width: 148.5mm;
    height: 210mm;
  }
}

.nav {
  background-color: #ddd;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
}

.nav a {
  padding: 8px;
  text-decoration: none;
  color: black;
}
