@media print {
  @page {
    size: A4 portrait;
    margin: 0;
  }

  html,
  body {
    width: 210mm;
    height: 297mm;
  }

  body {
    margin: 0;
    width: 100%;
    background-color: #ffffff;
  }

  * {
    visibility: hidden;
  }

  .printable {
    display: block;
    padding: 0;
    position: absolute;
    top: 0;
    width: 90%;
    margin-left: 10mm;
  }

  .printable,
  .printable * {
    visibility: visible;
  }

  .printable-block {
    display: block;
    margin: auto;
    break-inside: avoid;
    height: 55vh;
    width: 100%;
    padding: 15mm;
  }
}

@media not print {
  .printable {
    visibility: hidden;
    display: none;
  }
}
